@font-face {
  font-family: 'White Pinky Regular';
  font-style: normal;
  font-weight: normal;
  src: local('White Pinky Regular'), url('../img/fonts/White Pinky/White Pinky.ttf') format('ttf'), url('../img/white_pinky-webfont.woff') format('woff');
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }


  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes shake2 {
  0% {
    transform: rotate(2deg);
  }


  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}
*{
  margin: 0;
  padding:0px;
  box-sizing: border-box;
}

/*navbar*/

#navbar1{
  transition: top 0.3s;
  opacity: 0.8;
 
}


.navbar-brand{

  font-family: 'White Pinky Regular';
  font-weight: bold;
  color: #ff7979;

}
.nav-link{
  font-family: 'White Pinky Regular'; 
  font-size: 20px;
}




section {
  padding-left: 0px;
  padding-right: 0px;
}

p {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 16px;
}
#telephone{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 17px;
}

.Hcolorpurple {
  color: #957DAD;
  font-family: 'White Pinky Regular';
  font-weight: bold;
}

.Hcolorgreen {
  font-family: 'White Pinky Regular';
  color: #B5EAD7;
  font-weight: bold;
}

.Hcoloryellow {
  color: #fec051;
  font-family: 'White Pinky Regular';
  font-weight: bold;
}

.Hcolorpink {
  color: #FEC8D8;
  font-family: 'White Pinky Regular';
  font-weight: bold;
}



body {
  background: #FFDAC1;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0;
  padding: 0;  
}






.premierH {
  font-family: 'White Pinky Regular';
  font-size: 60px;
  color: #ff7979;
  font-weight: 900;
  margin-top: 10px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.deuxiemeH {
  font-family: 'White Pinky Regular';
  font-size: 30px;
}

.troisiemeH {
  font-family: 'White Pinky Regular';
  font-size: 40px;
  font-weight: bold;
  color: white;
}






.landing-page {
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;
  overflow: hidden;
}

.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/babysleeping.jpg") no-repeat center fixed;
  background-size: cover;
  opacity: .3;
  animation: anim 20s linear infinite;
  -moz-animation: anim 20s linear infinite;
  -webkit-animation: anim 20s linear infinite;


}

@keyframes anim {


  50% {
    transform: scale(2);
  }


  100% {
    transform: scale(1);

  }
}

.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.page-content h1 {
  color: #ff7979;

  font-size: 10em;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: 'White Pinky Regular';
}

/*---------------------medias queries----------------------------*/

@media (max-width: 575.98px) {
  .page-content h1 {
    font-size: 5em;
    margin-right: 0px;
  }

  .projets1 {
    margin-bottom: 15px;
  }

  .projets2 {
    margin-bottom: 15px;
  }

  .projets3 {
    margin-bottom: 15px;
  }

  #titreconcept {
    font-size: 55px;
  }

  #typeday {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #titrecontact {
    font-size: 40px;
  }

  #paragraphcontact {
    font-size: 16px;
  }

  #firstHpresentation {
    font-size: 20px;
  }

  #secondHpresentation {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .photoequipe {
    top: 50px;
    left: -10px;
  }

  .carte {

    margin-bottom: 20px;
  }

  #titreinformations {
    font-size: 35px;

  }

  .Fermetures {
    margin-top: 20px;
  }

  #singe {
    width: 200px;
    top: 30%;
    left: -20px;
    z-index: 0;
    transform: rotate(-10deg)
  }

  #crocodile {
    width: 350px;
    bottom: 60%;
    left: 200px;
    z-index: 8;
    display: none;
  }
  #image1{
    left: 35%;
  }
  #disponibilite{
    font-size: 30px;
  }
  #girafle{
    display: none;
  }
}



@media (min-width: 576px) and (max-width: 767.98px) {

  .page-content h1 {
    font-size: 5em;
    margin-right: 0px;
  }

  .projets1 {
    margin-bottom: 15px;
  }

  .projets2 {
    margin-bottom: 15px;
  }

  .projets3 {
    margin-bottom: 15px;
  }

  #typeday {
    font-size: 50px;
    margin-bottom: 20px;
  }

  #firstHpresentation {
    font-size: 20px;
  }

  #secondHpresentation {
    font-size: 15px;
  }

  .photoequipe {

    top: 50px;

  }

  #singe {
    width: 350px;
    top: 0.7px;
    left: -20px;
    z-index: 8;
    transform: rotate(-10deg)
  }

  #crocodile {
    width: 350px;
    top: 95%;
    left: 200px;
  }
  #image1{
    left: 30%;
  }
}


@media (min-width:768px)and (max-width: 991.98px) {
  .projets1 {
    margin-bottom: 15px;
  }

  .projets2 {
    margin-bottom: 15px;
  }

  .projets3 {
    margin-bottom: 15px;
  }

  #typeday {
    position: relative;
    bottom: 70px;
  }

  #firstHpresentation {
    font-size: 40px;
  }

  #secondHpresentation {
    font-size: 30px;
  }

  .photoequipe {

    top: 50px;
  }

  .Fermetures {
    margin-top: 20px;
  }

  #singe {
    width: 350px;
    top: 0.7px;
    left: -20px;
    z-index: 8;
    transform: rotate(-10deg)
  }

  #crocodile {
    width: 350px;
    top: 94%;
    left: 200px;
  }
  #image1{
    right: 10%;
  }
  #image{
    right: 0%;

  }
  #girafle{
   overflow: hidden;
    z-index: 1;
  }
  #equipe{
    z-index: -2;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .photoequipe {
    top: -40px;
  }
  #firstHpresentation{
    font-size: 50px;
  }
  #secondHpresentation{
    margin-bottom: 20px;
  }
  .Fermetures {
    position: relative;
    top:30%;
  }
  .informations1 {
    position: relative;
    left: 10px;
    top: 30px;
  }

  .informations2 {
    position: relative;
    left: 120px;
    top: 30px;
  }

  #singe {
    width: 350px;
    top: 0.7px;
    left: -20px;
    z-index: 8;
    transform: rotate(-10deg)
  }

  #crocodile {
    width: 350px;
    top: 600px;
    left: 150px;
  }
  #image1{
    left: 20%; 
  } 
}

@media (min-width: 1200px) {
  .photoequipe {
    top: -25px;
  }

  #secondHpresentation {
  margin-bottom: 30px;
  }

  .Fermetures {
    position: relative;
    top: 120px;
  }

  .informations1 {
    position: relative;
    left: 10px;
    top: 30px;
  }

  .informations2 {
    position: relative;
    left: 120px;
    top: 30px;
  }

  #singe {
    width: 350px;
    top: 0.7px;
    left: -20px;
    z-index: 8;
    transform: rotate(-10deg)
  }

  #crocodile {
    width: 350px;
    top: 600px;
    left: 200px;
  }
  #girafle{
    right: -55%;
    bottom: -56%;
  
  }
  #image{
    
    left: 38%;
  }
  #image1{
    left: 46%;
    
  } 
}



.page-content p {
  color: #fff;
  margin-bottom: 20px;
  font-family: 'White Pinky Regular';
  font-size: 2em;
}


.carousel-inner {

  border-radius: 10px;
}



#firstcontainer {

  background-color: rgb(255, 255, 244);
  border-radius: 10PX;
}

#deuxiemecontainer {
  background-color: #B5EAD7;
  border-radius: 10PX;
  padding: 10px;

}



#presentation {

  background-color: rgb(255, 255, 244);
  padding: 20px;
  border-radius: 0 0 100% 100% / 10%;
  border-bottom: white solid 30px;
  margin-bottom: 15px;

}



.projets1 {

  background-color: #957DAD;
  border-radius: 10px;



}

.projets2 {

  background-color: #fec051;
  border-radius: 10PX;


}

.projets3 {

  background-color: #B5EAD7;
  border-radius: 10PX;


}



.projetsH {
  color: white;
  font-family: 'White Pinky Regular';
  font-weight: bold;
  display: flex;
  justify-content: center;

}

.projet-icons {
  display: flex;
  justify-content: center;

  animation: shake 1s infinite;
}






#titrescroll {

  color: white;
}


.journeetype {

  background-color: rgb(255, 255, 244);
  padding: 20px;
  border-radius: 100% 100% 100% 100% / 10%;
  border: white solid 30px;
  margin-top: 50px;
  position: relative;
}

#singe {

  position: absolute;
}

#crocodile {
  position: absolute;
}

video {

  background-size: 800px;
  height: 75vw;
}

.overflow-auto {

  overflow: scroll;
  height: 500px;

}

.photoequipe {
  position: relative;


  background: white;

  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px 80px 10px;
  margin: 0 0 27px 30px;
  width: 300px;
  height: 300px;
  color: #8B8B8B;
  transform: rotate(5deg);

  border-radius: 5px;
  content: 'test';

}


.row1 {
  border-radius: 100% 100% 0% 0% / 10%;
  background: #B5EAD7;
}

.row2 {
  background: #fec051;
}

.row3 {
  background: #957DAD;
}

.row4 {
  background: #9EE09E;
  border-radius: 0% 0% 100% 100% / 10%;
}

.facebook {
  width: 50px;
  height: 50px;
}

.soustitre {
  font-size: 30px;
}

#findus {

  background: #B5EAD7;
  border-radius: 100% 100% 100% 100% / 10%;
  border: #B5EAD7 solid 30px;

}

.carte {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.carte iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Fermetures {
  background-color: #CFD7C0;
  padding: 20px;
  border-radius: 10px;
}

#titrefermetures {
  color: #76ADA8;
}

#paragraphfermetures {
  font-weight: bold;
  font-size: 20px;
}

#contact {

  background: #957DAD;
  border-radius: 100% 100% 0% 0% / 10%;
  border: #957DAD solid 30px;

}

label {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 20px;

}

footer {
  background-color: #CFD7C0;
  z-index: 8;
  position: relative;
 
}

#contact {

  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 0px;
  border-bottom-width: 0px;
}

#image {
  height: 256px;
  width: 256px;
  background: url('../img/LAPIN_0000.png') 0px 0px;
  position: absolute;
  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: ease;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  z-index: 3;
  
}

#image1 {
  height: 256px;
  width: 256px;
  background: url('../img/TIGRE_0000.png') 0px 0px;
  position: absolute;
  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: ease;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  
}

#Hfooter {
  font-size: 40px;

}
#giraflediv{
position: relative;
}
#girafle{
position: absolute;
}
#paragraphmodalite{
margin-bottom: 2rem;
}
.btn {
  background-color: #FEC8D8;
  color: white;
  border-color: #FEC8D8;
}